* {
    font-family: Circular, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: Circular, Helvetica, sans-serif;
    ;
}

/* Nav Bar */
.navbar {
    display: flex;
    align-items: center;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}

.navbar .category-links .navbar-dropdown {
    display: flex;
    list-style: none;
    margin: 15px 0;
}

.navbar .category-links .navbar-dropdown a {
    text-decoration: none;
    margin: 0 10px;
}

.navbar .nav-links {
    display: flex;
}

.navbar .navbar-actions {
    margin: 15px 0;
}

.navbar .navbar-action {
    margin: 0px 10px;
    text-decoration: none;
}

/* Style for buttons */
.navbar .navbar-action:nth-child(2) {
    border: 5px solid rgba(187, 189, 241, 0.5);
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(86, 90, 221);
    transition: padding 0.3s ease;
}

.navbar .navbar-action:nth-child(2):hover {
    padding: 12px;
}

.navbar .navbar-action:nth-child(3) {
    background-color: rgba(187, 189, 241, 0.5);
    padding: 10px;
    border-radius: 20px;
    color: rgb(86, 90, 221);
    transition: padding 0.3s ease;
}

.navbar .navbar-action:nth-child(3):hover {
    padding: 12px;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 250px;
    border-radius: 20px;
    margin-top: 10px;
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.navbar-item.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-item.dropdown:hover .dropdown-content ul .dropdown-list {
    list-style: none;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content .dropdown-list {
    margin: 20px 0;
}

.dropdown-list a .material-symbols-outlined:nth-child(1) {
    color: #fbcc6f;
}

/* .dropdown-list a .material-symbols-outlined:nth-child(2) {
    color: #76bc81;
} */


.accordion-content {
    display: none;
    padding-left: 20px;
}

.accordion-icon {
    float: right;
    cursor: pointer;
}

.mobile-nav ul li {
    position: relative;
}

.mobile-nav ul li a {
    display: inline-block;
    width: 90%;
}
.mobile-nav {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
}

.mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: start;
}

.mobile-nav ul li {
    padding: 10px;
}

.mobile-nav ul li a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    display: block;
    margin: 10px;
}

.btn-mob {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    width: 100%;
}

.btn-mob button a {
    text-decoration: none;
}

.btn-mob button:nth-child(1) {
    color: rgb(86, 90, 221);
    background-color: rgb(240, 241, 255);
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    border: none;
    transition: transform ease-in 0.3s;
}

.btn-mob button:nth-child(1):hover {
    box-shadow: 0 0 4px 5px rgb(86, 90, 221, 0.5);
    transform: scale(1.1);
}

.btn-mob button:nth-child(2) {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 20%;
    text-align: center;
    background-color: rgb(86, 90, 221);
    cursor: pointer;
    border: none;
    transition: transform ease-in 0.3s;
}

.btn-mob button:nth-child(2):hover {
    transform: scale(1.1);
}

/* Hamburger styling */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(187, 189, 241, 0.5);
    padding: 10px;
    border-radius: 25px;
    color: rgb(86, 90, 221);
}


/* =================================================== ==== */
/* ================= Section 1================= */
/* ======================================================= */

.video-section {
    background-color: rgb(209, 209, 247);
    color: rgb(43, 28, 80);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-content {
    text-align: center;
    margin: 40px 0;

}

.video-title {
    font-size: 60px;
    margin: 10px 0;
}

.video-description {
    font-size: 32px;
    margin: 0 0 20px;
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    padding: 24px 48px;
    background-color: rgb(86, 90, 221);
    color: #fff;
    text-decoration: none;
    border: 6px solid rgb(159, 161, 236);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50px;
}

.cta-button:hover {
    background-color: rgb(70, 70, 210);
    transform: scale(1.05);
}

.video-iframe {
    width: 100%;
    max-width: 800px;
}

.video-iframe iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 50px;

    max-height: 100%;

    object-fit: contain;
}


/* Marquee section */

.marquee-section {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(244, 243, 243);
}

.marquee-title {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 10px 0px;

}

.marquee-title h2 {
    color: rgb(43, 28, 80);
    font-size: 48px;
    width: 79%;
}

.marquee {
    display: flex;
    flex-direction: column;
}

.marquee-line {
    display: flex;
    opacity: 0.8;
    animation: marquee linear infinite;
    margin: 30px 20px;
}


.line1 {
    animation: marquee 30s linear infinite;
}

.line2 {
    animation: marquee 33s linear infinite;
}

.line3 {
    animation: marquee 35s linear infinite;
}

.marquee-line img {
    height: 20px;
    margin: 0 15px;
    opacity: 0.5;

}


@keyframes marquee {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}




/* Section 3 */
.ai-feature-section {
    background-color: rgb(244, 243, 243);
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px;
    flex-direction: row;
    background-color: rgb(43, 28, 80);
    border-radius: 40px;
}

.ai-feature-video {
    flex: 1;
    margin-right: 30px;
}

.ai-video-rounded {
    border-radius: 25px;
    max-width: 600px;
    height: auto;
}

.ai-feature-text {
    flex: 1;
    color: rgb(255, 255, 255);
}

.ai-feature-new {
    font-size: 18px;
    font-weight: bold;
    color: rgb(86, 90, 221);
    margin-bottom: 10px;

}

.ai-feature-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.ai-feature-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.ai-feature-button {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    background-color: rgb(86, 90, 221);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 50px;
}

.ai-feature-button:hover {
    background-color: rgb(70, 70, 210);
    transform: scale(1.05);
    box-shadow: 0 0 10px 3px rgb(70, 70, 210);
}



/* Section 4 */

.section-4 {
    background-color: rgb(244, 243, 243);
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.section-heading {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}


.section-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.recording-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 241, 255);
    margin: 40px;
    border-radius: 80px;
    height: 100vh;
}

.recording-details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.icon-bullet {
    font-size: 2em;
    margin-right: 15px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        color: rgb(255, 234, 229);
    }

    50% {
        transform: scale(1.2);
        color: rgb(255, 98, 62);
    }
}

.recording-text {
    max-width: 500px;
    text-align: left;
}

.recording-subheading {
    font-size: 1.8em;
    margin-bottom: 10px;

}

.link-record-screen,
.link-chrome-extension,
.link-mobile-app {
    color: rgb(86, 90, 221);
    text-decoration: none;
    margin: 5px;
}

.link-record-screen:hover,
.link-chrome-extension:hover,
.link-mobile-app:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(86, 90, 221);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(186, 185, 226);
}


.video-container {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    background-image: url(./images/section-4.svg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 480px;
    border-radius: 20px;
}

.video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: auto;
    max-height: 40%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}




/* section 5 */

.section-5 {
    padding: 40px 20px;
    background-color: #f9f9f9;


}

.section-title {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.text-content {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    /* border: 2px solid red;  */
    padding: 10px;
}

.icon-edit {
    font-size: 3em;
    color: rgb(86, 90, 221);
    display: inline-block;
}

.edit-heading {
    font-size: 1.5em;
    margin: 10px 0;
}

.edit-description {
    font-size: 1em;
    margin: 10px 0 20px;
}

.btn-record-now {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(86, 90, 221);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-record-now:hover {
    background-color: rgb(70, 75, 200);
}

.video-container {
    max-width: 100%;
    overflow: hidden;
}

.thd-rounded-int {
    border-radius: 15px;
    width: 100%;
    height: auto;
}


/* Section 6 */

/* Section container */
.section-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

/* Image container */
.image-container {
    flex: 1;
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Text container */
.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    text-align: start;
}

.section-heading {
    font-size: 2rem;
    color: #342118;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1.1rem;
    color: #342118;
    margin-bottom: 20px;
    line-height: 1.6;
}

.cta-link {
    display: inline-block;
    font-size: 1.1rem;
    color: #565add;
    text-decoration: none;
    font-weight: bold;
}

.cta-link:hover {
    color: #342118;
}

.arrow-icon {
    vertical-align: middle;
}

/* Section 7 */

/* Section container */
.section-7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #ffffff;
}

/* Text container */
.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: start;
}

.section-heading {
    font-size: 2rem;
    color: #342118;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1.1rem;
    color: #342118;
    margin-bottom: 20px;
    line-height: 1.6;
}

.cta-link {
    display: inline-block;
    font-size: 1.1rem;
    color: #565add;
    text-decoration: none;
    font-weight: bold;
}

.cta-link:hover {
    color: #342118;
}

.arrow-icon {
    vertical-align: middle;
}

.media-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/section-7.webp);
    border-radius: 20px;
}


.video-element {
    border-radius: 50%;
    width: 50%;
    height: auto;
}




/* Section 9 */

section-9 {
    padding: 40px;
    text-align: center;
}

.content-wrapper-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    background-color: rgb(240, 241, 255);
    border-radius: 20px;
    padding: 20px; 
    max-width: 800px; 
}

.section-heading {
    font-size: 4em;
    color: rgb(52, 33, 24);
    text-align: center;
}

.section-description {
    margin: 10px 0;
    color: rgb(61, 46, 124);
    max-width: 480px;
    text-align: center;
}

.learn-more-link {
    margin-top: 20px; 
    background-color: rgb(86, 90, 221);
    cursor: pointer;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in;
    display: inline-block;
    text-align: center;
}

.learn-more-link:hover {
    transform: scale(1.05);
}





/* Section 10  */

.section-10{
    text-align: center;
    padding-bottom: 20px;
}
.section-10 h2{
text-align: center;
font-size: 60px;
margin:10px;
}

.section-10 a {
    text-decoration: none;
    padding: 12px 24px;
    border: none;
    text-align: center;
    margin:10px;
    border-radius: 20px;
    background-color: rgb(229, 229, 252);
    transition: transform ease-in;
}

.section-10 a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px 5px rgb(86, 90, 221, 0.5);
}

.section-10 a {
    text-decoration: none;
    padding: 12px 24px;
    border: none;
    text-align: center;
    margin:10px;
    border-radius: 20px;
    background-color: rgb(229, 229, 252);

}

.use-case-cards {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    padding: 20px;
}

.card {
    max-width: 250px; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px 10px;
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.card h5 {
    margin: 10px 0; 
    font-size: 24px;
}

.card p {
    margin: 10px 0; 
}

.card img {
    width: 100%;     
    height: auto;     
    border-radius: 10px; 
}


.sales-card {
    background-color: rgb(255, 220, 220); 
}

.engineering-card {
    background-color: rgb(220, 255, 220); 
}

.support-card {
    background-color: rgb(220, 220, 255); 
}

.design-card {
    background-color: rgb(255, 255, 220); 
}


/* Section 11 */

.section-11 {
    padding: 40px;
    background-color: rgb(240, 241, 255);
    text-align: center;
}

.features-heading {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: rgb(52, 33, 24);
}

.features-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.features-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    list-style: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.check-icon {
    background-color: #fff;
    margin-right: 10px;
    color: rgb(86, 90, 221);
    font-size: 1.5em;
    padding: 10px;
    border-radius: 20px;

}

.features-link {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 24px;
    color: #000000;
    border-radius: 10px;
    transition: transform 0.3s ease-in;
}

.features-link:hover {
    transform: scale(1.05);
}



/* Section 12  */

.section-12 {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.blog-section-wrapper {
    background-color: rgb(43, 28, 80); 
    border-radius: 20px; 
    padding: 30px;
}


.blog-heading {
    color: #fff;
    font-size: 1em;
    margin-bottom: 20px;
}

.blog-title {
    color: #fff;
    font-size: 48px;
    margin-bottom: 40px;
}


.blog-cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.blog-card {
    background-color: rgb(61, 46, 124); 
    padding: 20px;
    border-radius: 15px;
    max-width: 350px;
    text-align: left;
    padding: 60px;
}

.blog-card:hover{

    box-shadow: 0 0 10px 3px #fff;
}


.blog-card-title {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 15px;
}


.blog-card-description {
    color: #ddd;
    font-size: 1.1em;
    margin-bottom: 20px;
}


.blog-card-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.blog-card-link span {
    margin-left: 5px;
}


.blog-button {
    background-color: rgb(86, 90, 221); 
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.blog-button:hover {
    background-color: rgb(66, 70, 200); 
}


/* Sectiuon 13 */


.section-13 {
    padding: 40px;
    text-align: center; 
    background-color: #f9f9f9; 
}


.main-enterprise {
    padding: 60px; 
    border-radius: 10px; 
    background-color: #111019; 
}


.enterprise-info-wrapper {
    padding: 20px;
    border-radius: 10px; 
    color: #fff; 
}


.enterprise-heading {
    font-size: 48px;
    margin-bottom: 10px;
}

.enterprise-description {
    margin-bottom: 24px;
}


.enterprise-learn-more {
    color: #fff; 
    text-decoration: none; 
    font-size: 1em;
    display: inline-flex; 
    align-items: center;
}


.enterprise-image-wrapper {
    margin-top: 20px; 
}


.enterprise-image {
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
}


/* Section 14 carousel */

.testimonial-card {
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    text-align: center;
    background-color: #fff; 
    transition: background-color 0.3s ease;
    /* border:2px solid red; */
    padding: 40px;
}

.testimonial-card.card-1 {
    background-color: rgb(240, 241, 255);
}

.testimonial-card.card-2 {
    background-color: rgb(219, 240, 255);
}

.testimonial-card.card-3 {
    background-color: rgb(248, 237, 251);
}

.testimonial-card .card-4 {
    background-color: rgb(232, 245, 227);
}

.testimonial-card.card-5 {
    background-color: rgb(255, 228, 227);
}

.testimonial-author {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.testimonial-author img {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px; 
    height: 40px; 
}

.carousel-item {
    opacity: 0.5;
    transition: opacity 1s ease-in-out; 
}

.carousel-item.active {
    opacity: 1; 
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 100%, 100%; 
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 100px !important;
    transform: translateY(-50%);
    z-index: 1;
}

.logo-img-testmonial{
    width: 100px;
    color: #ddd;
}
/* last section */

/* Section Styling */
.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    width: 80%;
    max-width: 1200px;
}

/* Content Styling */
.content h2 {
    font-size: 36px;
    color: #333;
    margin: 0;
}

/* Highlight Text */
.highlight {
    background-color: rgba(173, 216, 230, 0.6); /* Light blue background similar to the provided image */
    padding: 0 5px;
}

/* Button Container */
.button-container {
    text-align: right;
}

/* Button Styling */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #7a5af8; /* Purple color */
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6a4edc; 
}

/* Button Text */
.button-container p {
    margin-top: 10px;
    font-size: 12px;
    color: #6a4edc;
}

/* Footer  */

.footer {
    background-color: rgb(240, 241, 255) ;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-category {
    flex: 1 1 200px; 
    margin: 10px;
}
.footer-category h2 {
   font-size: 24px;
}


.footer-category h2 {
    color: rgb(52, 33, 24); 
    font-size: 18px;
    margin-bottom: 10px;
}


ul {
    list-style-type: none; 
    padding: 0; 
}


.footer-category li {
    color: rgb(52, 33, 24); 
    margin: 5px 0;
    transition: color 0.3s ease; }


.footer-category li:hover {
    color: rgb(86, 90, 221); 
    cursor: pointer; 
}


/* Social media icons */


.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 24px; 
    height: 24px;
}




/* ============================================================== */
/* ============================================================== */
/* ============================================================== */

/* Media Queries */
@media only screen and (max-width: 1024px) {
    .navbar .category-links {
        display: none;
    }

    .navbar .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        z-index: 11;

    }

    .mobile-nav.active {
        display: block;
    }

    /* section 3 */
    .ai-feature-container {
        flex-direction: column;
        text-align: center;
    }
}



@media only screen and (max-width: 900px) {
    .navbar .navbar-action:nth-child(3) {
        display: none;
    }


    .ai-feature-video {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .ai-feature-heading {
        font-size: 28px;
    }

    .ai-feature-description {
        font-size: 16px;
    }

    .ai-feature-button {
        font-size: 16px;
    }

    .icon-bullet {
        display: none;
    }

    .recording-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        overflow: hidden;
    }

    .video-container {
        width: 100%;
    }


    /* section 5 */
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .text-content,
    .video-container {
        width: 100%;
        padding: 15px;
    }

    .thd-rounded-int {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }


    /* section 6 */
    .section-6 {
        flex-direction: column;
        text-align: start;
    }

    .text-container {
        text-align: start;
        padding: 20px 0;
    }

    .section-heading {
        font-size: 1.5rem;
    }

    .section-description {
        font-size: 1rem;
    }

    .cta-link {
        font-size: 1rem;
    }


    /* Section 7 */

    .section-7 {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        padding: 20px 0;
    }

    .video-player {
        width: 100%;
    }

    .section-heading {
        font-size: 1.5rem;
    }

    .section-description {
        font-size: 1rem;
    }

    .cta-link {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 768px) {
    .navbar .navbar-action {
        display: none;
    }

    .video-title {
        font-size: 40px;
    }

    .video-description {
        font-size: 24px;
        width: 80%;
    }

    .footer {
        flex-direction: column; 
    }

    .footer-category {
        flex: 1 1 100%; 
    }

}

@media (max-width: 480px) {
    .video-title {
        font-size: 30px;
    }

    .video-description {
        font-size: 18px;
        width: 90%;
    }

    .video-section {
        padding: 20px 10px;
    }
}